#TransmitterDBDisplay body {
	background: rgb(245, 247, 251);
	padding: 10px 0;
	background: linear-gradient(90deg, rgba(245, 247, 251, 1) 0%,
		rgba(237, 240, 244, 1) 51%, rgba(245, 247, 251, 1) 100%);
}

#TransmitterDBDisplay .successMsg {
	    margin-top: 27px;
    font-size: 18px;
    background: #bae0ba;
    padding: 7px;
    border-radius: 10px;
    border: 1px solid green;
    font-weight: bold;
    text-align: center;
}

#TransmitterDBDisplay .form-group {
	text-align: center;
	width: 100%;
	background: #fff;
	padding: 10px 0;
	margin: 5% 0;
	-webkit-box-shadow: 0 6px 6px 6px #d7d8da;
	-moz-box-shadow: 0 6px 6px 6px #d7d8da;
	box-shadow: 0 6px 6px 6px #d7d8da;
	border-radius: 10px;
}

#TransmitterDBDisplay label {
	padding: 10px;
	width: 100%;
	font-weight: bold;
	color: #fff;
	font-size: 15px;
	border-radius: 10px;
	background: rgb(42, 51, 60);
	/* background: linear-gradient(90deg, rgba(42,51,60,1) 0%, rgba(137,139,142,1) 51%, rgba(42,51,60,1) 100%); */
}

#QueAnsChartDIv, #RangeChartDIv, #CorrectConnectionCount {
	margin: 10px 0;
}

#TransmitterDBDisplay h1 {
	background: rgb(125, 176, 169);
	background: linear-gradient(90deg, rgba(125, 176, 169, 1) 0%,
		rgba(78, 109, 114, 1) 31%, rgba(33, 44, 62, 1) 100%);
	text-align: center;
	padding: 10px;
	color: #fff;
	border-radius: 10px;
}

#TransmitterDBDisplay p {
	font-size: 15px;
	font-weight: bold;
}

.TotalcountNum {
	background: #4f81bc;
	padding: 5px 10px;
	color: #fff;
	border-radius: 17px;
	font-weight: bold;
	font-size: 19px;
}

.RightcountNum {
	background: #04a268;
	padding: 5px 10px;
	color: #fff;
	border-radius: 17px;
	font-weight: bold;
	font-size: 19px;
}

.wrongcountNum {
	background: #c0504e;
	padding: 5px 10px;
	color: #fff;
	border-radius: 17px;
	font-weight: bold;
	font-size: 19px;
}

.RightNum {
	background: #04a268;
	padding: 5px 10px;
	color: #fff;
	border-radius: 17px;
	font-weight: bold;
	font-size: 15px;
}
.wrongNum {
	background: #b12633;
	padding: 5px 10px;
	color: #fff;
	border-radius: 17px;
	font-weight: bold;
	font-size: 15px;
}
.InfoNum {
	background: #17a2b8;
	padding: 5px 10px;
	color: #fff;
	border-radius: 17px;
	font-weight: bold;
	font-size: 15px;
}

#StudentAnalysisDIv table {
	border: 1px solid rgb(42, 51, 60);
	margin-top: 15px;
}

#StudentAnalysisDIv thead {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	background: rgb(42, 51, 60);
	text-align: center;
}

#StudentAnalysisDIv td {
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

#StudentAnalysisDIv th {
	text-align: center;
}

#Reqtimer {
    width: 100px;
    position: absolute;
    right: 5px;
    border: 2px solid #78a9a3;
    font-size: 19px;
    text-align: center;
    padding: 6px 0px;
    color: #bee0dc;
     box-shadow: 0 1px 14px 0px #d7d8da; 
    top: 22px;
    z-index: 11111;
    border-radius: 10px;
    /* background: linear-gradient(
90deg , rgb(39 53 69) 0%, rgba(78,109,114,1) 31%, rgba(33,44,62,1) 100%);*/
}
#minutes, #seconds
{background: #5b7f81;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 15px;}